img{
  width: 100%;
}
.featuredImage{
  max-height: 400px;
}
.text-center{
  text-align: center;
}
.text-justify{
  text-align: justify;
}
.title{
  text-align: center;
}
.text{
  padding: 5px 15px;
}
#comment>input{
  color: #fff;
}
.closeModel{
  background: red;
}
.avatar{
  vertical-align: middle;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 70px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  display: block;
}
.comments p{
  padding: 10px 15px;
  text-align: justify;
}
.single-comment{
  border-top: 1px dotted black;
}
.newPostModel input{
  color: #fff !important;
}
#profileSection img{
  margin: 0 auto;
  display: block;
  width: 150px;
  padding: 15px 10px;
}
#profileSection ul{
  list-style: none;
    padding-left: 0;
}

.latestComment{
  padding: 10px 20px;
}

#login{
  padding: 20px 10px;
  border-bottom: 1px solid black;
}
#login ons-col{
  display: block;
  margin: 0 auto;
}
#register ons-col{
  display: block;
  margin: 0 auto;
}
#login ons-input{
  display: block
}
#login, #register ons-input{
  margin-top: 15px;
  margin-bottom: 15px;
}
#login ons-input{
  margin-top: 15px;
  margin-bottom: 15px;
}
